header
{
    color:white;
    background-color: #1D4D72;
}
header h1
{
    display: grid;
    place-items: center;
}
nav
{
    display:flex;
    background-color: #333333;
    justify-content: space-evenly;
    place-items: center;
    height: 40px;
}
a
{
    color:white;
}
.about
{
    background-color:  #1D4D72;
    color: white;
}
.card
{
    padding-left:50px;
    padding-right:50px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
}
main
{
    border:2px solid black;
    border-radius: 15px;
}
.card h1
{
    grid-column: 1/ -1;
    border-radius: 15px;
}
.card p
{
    font-size: larger;
}
img
{
    width: 200px;
}


footer{
    background-color:  #1D4D72;
    color: white;
}

footer p
{
    display:flex;
    justify-content: center;
}